/* Zerando estilos */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* Estilos globais */
body {
  font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 20px;
}

header img {
  max-height: 80px;
  justify-self: start;
}

nav {
  grid-column: 2;
  justify-self: center;
}

nav a {
  color: #1351d8;
  margin: 0 15px;
  text-decoration: none;
  font-size: 20px;
}

/* Conteúdo principal */
main {
  padding: 40px;
  text-align: center;
}

#linkRanger{
  color: #000000;
}

/* Rodapé */
footer {
  background-color: #1b357e;
  padding: 20px 40px;
}

.footerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: #ffffff;
}

.redes-sociais {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconesRedes a img {
  width: 24px;
  vertical-align: middle;
}

.footerLogo {
  width: 90px;
  justify-self: end;
}
